stepfunction.json
{
  "Comment": "How long AWS Lambda keeps idle functions around?",
  "StartAt": "FindIdleTimeout",
  "States": {
    "FindIdleTimeout": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:340585199380:function:benchmark",
      "Next": "RepeatOrNot"
    },
    "RepeatOrNot": {
      "Type" : "Choice",
      "Choices": [
        {
          "Variable": "$.coldstarts",
          "NumericEquals": 10,
          "Next": "Done"
        }
      ],
      "Default": "Wait"
    },

    "Wait": {
      "Type": "Wait",
      "SecondsPath": "$.interval",
      "Next": "FindIdleTimeout"
    },

    "Done": {
      "Type" : "Succeed"
    }
  }
}
